.Header {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  margin: 0;
  font-size: 28pt;
  color: #4b4a4a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-hr {
  height: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background: #dcdcdc;
  border: none;
  border-radius: 50px;
}
